.post {
	width: 1100px;
	margin: auto;
}

.contenedor__post {
	position: relative;
	height: 500px;
	margin-bottom: 60px;
}

.bg__post {
	position: absolute;
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
	background-size: 100%;
	filter: blur(3px);
	z-index: -1;
}

/* .bg__post.movie {
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(26, 26, 26, 0.9)), url("../img/SMNWH.jpg");
}

.bg__post.serie {
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(26, 26, 26, 0.9)), url("../img/Euphoria_Poster.jpg");
} */

.principal__post {
	position: absolute;
	top: calc(50% - 150px);
	left: 10%;
	width: 80%;
}

.poster__post {
	margin-right: 40px;
	float: left;
	height: 400px;
}

.poster__post img {
	height: 100%;
}

.info__post {
	display: block;
	width: 100%;
	margin-top: 100px;
}

.info__post p {
	margin-top: 10px;
}

.info__post .titulo__post {
	font-size: 1.75rem;
	font-weight: bold;
}

.info__post .original__post {
	font-size: 1.2rem;
}

.info__post .descripcion__post {
	margin-top: 1.25rem;
}