.carousel {
	max-width: 1100px;
	margin: 40px auto;
}

.carousel__contenedor {
	position: relative;
}

.carousel__siguiente,
.carousel__anterior {
	position: absolute;
	top: 0;
	width: 42px;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	border: none;
	font-size: 18px;
	text-align: center;
	z-index: 49;
	transition: all .5s ease;
	cursor: pointer;
}

.carousel__siguiente:hover,
.carousel__anterior:hover {
	background: rgba(0, 0, 0, 0.7);
}

.carousel__anterior {
	left: 0;
}

.carousel__siguiente {
	right: 0;
}

.carousel__lista {
	width: 100%;
	overflow: hidden;
}

.carousel__item a {
	display: block;
	width: 85%;
	margin: auto;
}

.carousel__item a img {
	display: block;
	height: 100%;
}

.carousel__nav.glider-dots {
	margin: 20px 0;
}

.carousel__nav .glider-dot {
	background: rgb(115, 115, 115);
	transition: all .4s ease;
}

.carousel__nav .glider-dot:hover {
	background: rgb(180, 180, 180);
}

.carousel__nav .glider-dot.active {
	background: rgb(180, 180, 180);
}