.tabs__temporada {
	width: 100%;
	margin-top: 20px;
	background: #1a1a1a;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	list-style: none;
	white-space: nowrap;
	overflow: auto;
}

.tabs__temporada li a {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: 16px 20px 13px 20px;
	border-bottom: 3px transparent solid;
	transition: all .3s ease;
	cursor: pointer;
}

.tabs__temporada li a.active {
	border-bottom: 3px #fff solid;
}

.contenedor__temporadas .temporada {
	width: 100%;
	display: block;
}

.contenedor__temporadas .temporada.active {
	display: block;
}

.contenedor__capitulo {
	margin-bottom: 5px;
	transition: all .5s ease;
}

.temporada .titulo__capitulo {
	padding: 20px;
	background: #424242;
	cursor: pointer;
}

.titulo__capitulo i {
	float: right;
	font-size: 1.1rem;
	transition: all .4s ease;
}

.contenido__capitulo {
	height: 0;
	overflow: hidden;
	transition: all .4s ease;

}

.contenido__capitulo.active {
	height: 250px;
	overflow-y: scroll;
}

/* ---------------------------------- */
/* -------------- Tabla ------------- */
/* ---------------------------------- */

.tabla {
	border-collapse: collapse;
	margin: 20px auto;
	width: 90%;
}

.header__tabla {
	background: #1a1a1a;
	border-radius: 5px;
}

.tabla th {
	font-size: 1.15rem;
}

.tabla th,
.tabla td {
	max-width: 200px;
    min-width: 100px;
	padding: 12px 20px;
}

.contenedor__tabla tr {
	border-bottom: 1px #1a1a1a solid;
}

.contenedor__tabla tr:hover {
	background: #424242;
}

.contenedor__tabla tr:last-child {
	border-bottom: 3px #1a1a1a solid;
}

.contenedor__tabla td.center {
    text-align: center;
}

.contenedor__tabla td a,
.contenedor__tabla td i {
	margin: 0 5px;
	text-decoration: none;
	cursor: pointer;
}

.contenedor__tabla td a.danger,
.contenedor__tabla td i.danger {
	color: #ff0000;
}

.contenedor__tabla td a.warning,
.contenedor__tabla td i.warning {
	color: #e6bb00;
}

.contenedor__tabla td a.success,
.contenedor__tabla td i.success {
	color: #00aa00;
}

.contenedor__tabla td a.info,
.contenedor__tabla td i.info {
	color: #0064e6;
}