.spinner {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	background: #303030;
	z-index: 99999;
	transition: all 0s ease;
}

.spinner.active {
	transition: all 2s ease;
	opacity: 0;
	visibility: hidden;
}

.titulo__spinner {
	font-size: 1.35rem;
	margin-top: 1rem;
}