.contenedor__popular {
	display: grid;
	width: 100%;
	margin: 20px 0;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

.elemento__popular {
	position: relative;
	text-decoration: none;
}

.elemento__popular img {
	display: block;
	width: 100%;
}

.elemento__popular .titulo__pelicula {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 0;
	padding: 1rem;
	text-align: center;
	font-size: 1rem;
	color: #fff;
	background: rgba(0, 0, 0, 0.7);
	transition: all .3s ease;
	opacity: 0;
}

.elemento__popular:hover .titulo__pelicula {
	opacity: 1;
}
